@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    background-color: darkorange;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 75%;

}

#nike-swoosh {
    display: flex;
    justify-content: space-evenly;
    margin: none;
}

h1 {
    font-size: 3rem;
    font-weight: lighter;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-centre {
    justify-content: center;
    align-items: center;
}

.justify-centre {
    justify-content: center;
}

.text-centre {
    text-align: center;
}

.hidden {
    display: none;
}

/* Main Game Menu Buttons */

.btn {
    font-size: 2rem;
    padding: 1.5rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(236, 76, 70) 50%, rgb(248, 244, 203) 100%);
    border-radius: 8px;

}

/* Button effect */

.btn:hover {
    box-shadow: 0 2.5px 0 2.5px rgba(68, 63, 64, 0.849);
    transition: ease-in-out 150ms;
    transform: scale(1.2);
}

#highscores-btn {
    background: linear-gradient(180deg, rgb(43, 185, 7) 50%, rgb(248, 244, 203) 100%);

}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}